<mat-sidenav [mode]="'side'" opened>
  <mat-nav-list role="list">

    <mat-list-item role="listitem" routerLink="/featured">
      <mat-icon matListItemIcon>home</mat-icon>
      <p matListLine>Home</p>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/subscriptions">
      <mat-icon matListItemIcon>subscriptions</mat-icon>
      <p matListItemTitle>Subscriptions</p>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/history">
      <mat-icon matListItemIcon>history</mat-icon>
      <p matListItemTitle>History</p>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/liked-videos">
      <mat-icon matListItemIcon>thumb_up</mat-icon>
      <p matListItemTitle>Liked Videos</p>
    </mat-list-item>
  </mat-nav-list>  
</mat-sidenav>
