.mat-title {
  font-size: 18px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }